.note-actions {
	justify-content: center;
	align-items: baseline;

	.btn {
		margin: 0 3px;
	}

	.clr-btn-container {
		position: relative;
		// @include from-mini-layout() {
		// 	position: static;
		// }
		.clr-btn {
			background-image: url('/src/assets/icon/color.svg');
		}
	}

	.pin-btn {
		position: fixed;
		background-size: 24px 24px;
		right: 2px;
		top: 3px;

		@include from-mini-layout() {
			position: absolute;
			left: 2px;
		}
	}

	//btns svg
	.delete-btn {
		background-image: url('/src/assets/icon/delete.svg');
	}

	.restore-btn {
		background-image: url('/src/assets/icon/restoration.svg');
	}

	.pin-btn {
		background-image: url('/src/assets/icon/pinned.svg');
	}

	.trash-btn {
		background-image: url('/src/assets/icon/trash.svg');
	}

	.in-archive-btn {
		background-image: url('/src/assets/icon/archive-in.svg');
	}

	.out-archive-btn {
		background-image: url('/src/assets/icon/archive-out.svg');
	}

	.copy-btn {
		background-image: url('/src/assets/icon/copy.svg');
	}
}
