.note-preview {
	margin: 5px;
	border-radius: 8px;
	position: relative;
	transition: 0.2s;
	cursor: pointer;
	border: rgb(224 224 224) 1px solid;

	@include from-mini-layout {
		width: 240px;
	}

	&:hover {
		box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%),
			0 1px 3px 1px rgb(60 64 67 / 15%);
	}

	// &.hover {
	// 	// @include from-mini-layout {
	// 	// 	.note-actions {
	// 	// 		opacity: 1;
	// 	// 	}

	// 	// 	.select-btn {
	// 	// 		opacity: 1;
	// 	// 	}
	// 	// }
	// }

	&.selected {
		border: 2px solid black;
	}

	.select-btn {
		position: absolute;
		top: -7px;
		right: -7px;
		transition: 0.2s;
		z-index: 50;

		background-color: white;
		border-radius: 50%;

		width: 22px;
		height: 22px;

		@include from-mini-layout() {
			opacity: 0;
			&.show {
				opacity: 1;
			}
		}

		input {
			display: none;
		}
	}

	.note-content {
		border-radius: 8px;

		.note-imgs {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 5px;

			img {
				border-radius: 3px;
			}

			.delete-img-btn {
				display: none;
			}
		}

		.note-title {
			width: 100%;
			color: rgb(74 74 74);
			padding: 12px 16px 0 37px;
			font-size: 16px;
			font-family: 'Roboto-regular', 'Droid Sans', arial, sans-serif;
		}

		.main-content {
			padding: 10px 0px;
			font-size: 18px;

			&.txt {
				padding: 10px 15px;
				&::placeholder {
					color: transparent;
				}
			}

			&.list {
				.add-todo {
					display: none;
				}
			}

			.item-container {
				position: relative;
				align-items: center;

				input {
					padding: 5px 15px 2px 30px;
				}

				input[type='checkbox'] {
					position: absolute;
					// left: 12px;
					padding: 0;
				}
			}
		}

		.labels-container {
			padding: 5px 10px;
			.label {
				position: relative;
				background-color: rgba(172, 168, 168, 0.438);
				padding: 3px 5px;
				border-radius: 10px;
				margin: 3px;

				&:hover {
					.delete-btn {
						display: block;
					}
				}

				p {
					font-size: 12px;
					margin: 0;
				}

				.delete-btn {
					display: none;
					position: absolute;
					top: 2px;
					left: 0;
					background-image: url('/src/assets/icon/xmark.svg');
					background-size: 14px;
					width: 14px;
					height: 14px;
					background-color: gray;
				}
			}
		}
	}

	.note-actions {
		margin-top: 10px;
		opacity: 0;
		transition: 0.2s;

		&.hover {
			opacity: 1;
		}
	}

	.background-pallete {
		left: -250px;
	}
}
