.note-actions {
	justify-content: space-between;
	align-items: center;

	.clr-btn-container {
		position: relative;
		.clr-btn {
			background-image: url('/src/assets/icon/color.svg');
			position: relative;
		}
		.background-pallete {
			left: -90px;

			@include only-mini-layout() {
				bottom: -383px;
			}

			@include from-mini-layout() {
				left: -60px;
				top: 25px;
			}
		}
	}

	img {
		// filter: $svg-clr3;
		height: 19px;
		transition: 0.2s;
		// filter: $svg-clr4;

		&:hover {
			cursor: pointer;
		}
	}

	.pin-btn {
		width: 23px;
		height: 23px;
		position: absolute;
		top: 7px;
		left: 10px;
		cursor: pointer;
	}
}
