.note-list {
	width: 97%;
	flex-grow: 1;

	@include from-mini-layout() {
		width: 80%;
	}
	margin: 0 auto;

	.notes {
		width: 100%;

		// ul {
		// 	width: 100vw;
		// }
	}

	.drag {
	}

	.ghost {
		div {
			visibility: hidden;
		}
	}

	ul {
		width: 95%;
		margin: auto;
	}

	.select-btn {
		position: absolute;
	}

	.no-notes {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin-top: 170px;

		img {
			width: 130px;
			height: 130px;
			margin-bottom: 1.5rem;
			filter: $svg-ligthgray;
		}
	}
}
