.side-nav {
	background-color: $clr2;
	height: 100%;
	transition: 0.4s;
	padding-top: 8px;

	position: fixed;
	z-index: 300;
	flex-direction: column;

	@include only-mini-layout() {
		top: 0px;
	}

	&.close {
		left: -160px;
	}

	&.open,
	&.open-by-btn {
		left: 0;
		width: 75%;
		border-top-right-radius: 15px;
		border-bottom-right-radius: 15px;
		.page-btn {
			border-radius: 0 25px 25px 0;
			padding-left: 25px;

			.name {
				margin-left: 20px;
				text-transform: capitalize;
			}
		}
	}

	.logo {
		justify-content: start;
		padding-left: 20px;
		margin: 1rem 0;
		@include from-mini-layout() {
			display: none;
		}
	}

	.page-btn {
		height: 48px;
		align-items: center;
		transition: 0.2s;
		cursor: pointer;

		.img {
			height: 20px;
			width: 20px;
		}

		&.active {
			background-color: $clr7;
			&:hover {
				background-color: $clr7;
			}
		}

		&:hover {
			background-color: $clr8;
		}
	}

	@include from-mini-layout() {
		&.close {
			left: 0;
			align-items: center;
			width: 73px;
			.page-btn {
				border-radius: 50%;
				width: 48px;

				justify-content: center;
				align-items: center;

				.name {
					display: none;
				}
			}
		}

		&.open,
		&.open-by-btn {
			width: 280px;
			border-radius: 0;
		}

		&.open {
			box-shadow: $shadow;
		}

		&.open-by-btn {
			position: relative;
		}
	}
}
