.login-signup {
	min-height: 100vh;
	text-align: center;
	.logo {
		padding: 1rem;
		font-size: 30px;
		text-align: center;
		width: 100%;
		margin-bottom: 1rem;
	}

	.login-signup-container {
		width: 90%;
		margin: auto;
		min-height: 50vh;

		@include from-mobile-layout() {
			border: 1px solid rgb(218 220 224);
			border-radius: 8px;
			width: 50%;
			padding: 2rem;
			min-height: 60vh;
		}

		@include from-narrow-layout() {
			width: 40%;
		}

		@include from-normal-layout() {
			width: 35%;
		}

		@include from-wide-layout() {
			width: 27%;
		}

		& > * {
			display: flex;
			flex-direction: column;
			justify-content: center;
			text-align: center;
			width: 100%;
			position: relative;

			.title {
				font-family: 'Roboto-Bold';
			}
		}

		h1 {
			margin-bottom: 1rem;
		}

		form {
			display: flex;
			flex-direction: column;
			flex-grow: 1;
			position: relative;

			@include only-mini-layout() {
				min-height: 45vh;
			}

			input {
				border-radius: 4px;
				padding: 12px 14px;
				color: $clr1;
				border: 1px solid rgb(218 220 224);
				margin-bottom: 1rem;
				transition: 0.2s;

				&:focus {
					border: 1px solid $google-blue;
				}
			}
		}

		.btn {
			background-color: $google-blue;
			color: $clr2;
			padding: 12px;
			border-radius: 4px;
			min-width: 30%;

			position: absolute;
			bottom: 0;
			right: 0;
		}

		.move-to {
			color: $google-blue;
			font-family: 'roboto-medium';
			margin-top: 2rem;
			// position: absolute;
			bottom: 0;
			left: 0;

			@include from-mobile-layout() {
				position: absolute;
			}
		}
	}

	.guest {
		background-color: $google-blue;
		color: $clr2;
		padding: 12px;
		border-radius: 4px;
		padding: 12px;
		margin: 5px;
		transition: 0.2s;

		&:hover {
			background-color: $clr8;
			color: $google-blue;
		}
	}
}
