.login-signup {
	min-height: 100vh;
	.logo {
		padding: 1rem;
	}

	.login-signup-container {
		width: 90%;
		margin: auto;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		height: 85vh;

		& > * {
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			border: 1px solid black;
			width: 45%;
			padding: 1rem;
			border-radius: 8px;
			box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%),
				0 1px 3px 1px rgb(60 64 67 / 15%);
			height: 60%;
		}

		h1 {
			margin-bottom: 1rem;
		}

		form {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			flex-grow: 1;

			input {
				background-color: lightgray;
			}
		}
	}
}
