.login-signup {
	min-height: 100vh;
	// flex-direction: column;
	// justify-content: center;

	.logo {
		padding: 1rem;
		font-size: 30px;
		text-align: center;
		width: 100%;
		margin-bottom: 1rem;
	}

	.login-signup-container {
		width: 90%;
		margin: auto;

		@include from-mobile-layout() {
			border: 1px solid rgb(218 220 224);
			border-radius: 8px;
			width: 50%;
			padding: 3rem;
			// justify-content: space-between;
			// align-items: center;
			// flex-wrap: wrap;
			min-height: 50vh;
		}

		@include from-narrow-layout() {
			width: 40%;
		}

		@include from-normal-layout() {
			width: 30%;
		}

		& > * {
			display: flex;
			flex-direction: column;
			justify-content: center;
			text-align: center;
			width: 100%;

			.title {
				font-family: 'Roboto-Bold';
			}
		}

		h1 {
			margin-bottom: 1rem;
		}

		form {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			flex-grow: 1;
			position: relative;

			input {
				border-radius: 4px;
				padding: 12px 14px;
				color: $clr1;
				border: 1px solid rgb(218 220 224);
				margin-bottom: 1rem;
				transition: 0.2s;

				&:focus {
					border: 1px solid $google-blue;
				}
			}

			.btns {
				justify-content: space-between;
				color: $google-blue;
				font-family: 'roboto-medium';

				.btn {
					background-color: $google-blue;
					color: $clr2;
					padding: 12px;
					border-radius: 4px;
				}
			}
		}
	}
}
