.note-details {
	border-radius: 8px;
	transition: 0.4s;
	padding: 1px;
	max-height: 80vh;
	overflow: scroll;
	overflow-x: hiddenq;

	.content {
		border-radius: 8px;
		padding: 10px 15px;
	}

	.note-imgs {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 5px;

		.img-container {
			position: relative;

			&:hover {
				.delete-img-btn {
					opacity: 1;
				}
			}
		}

		.delete-img-btn {
			filter: $svg-clr2;
			padding: 5px;
			position: absolute;
			width: 30px;
			bottom: 0;
			left: 0;
			opacity: 0;
			background-color: rgb(135 124 124 / 67%);

			&:hover {
				cursor: pointer;
			}
		}
	}

	.actions-container {
		justify-content: space-between;
		align-items: center;
		padding: 4px 10px;

		img {
			width: 15px;
			// filter: $svg-clr1;
			margin-right: 15px;

			&:hover {
				cursor: pointer;
			}
		}
	}

	.background-pallete {
		left: 55px;
		// top: 190px;
	}
}
