.note-add {
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;

	background-color: $clr2;
	z-index: 100;
	box-shadow: 0 0 5px 0px rgb(0 0 0 / 37%);
	transition: 0.5s;

	&.full-page {
		top: 0;
	}

	@include from-mini-layout() {
		position: relative;
		width: 60%;
		margin-right: 1rem;
		// margin: 0 auto 16px auto;
		border-radius: 8px;

		.add-note-input {
			.note-title {
				font-size: 14px;
			}

			.actions {
				position: relative;
			}
		}
	}

	@include from-mobile-layout() {
		width: 50%;
	}
	//
	.add-container {
		justify-content: space-between;
		align-items: center;
		padding: 5px 10px;

		.type-btn {
			height: 30px;
			width: 30px;
			background-image: url('/src/assets/icon/list.svg');
		}
	}

	//
	.actions-mobile {
		justify-content: flex-end;
		.back-btn {
			display: block;
			padding: 10px 15px;
			@include from-mini-layout() {
				display: none;
			}
		}
	}

	.add-note-input {
		width: 100%;
		.content-input {
			flex-direction: column;
			justify-content: center;
		}

		.note-imgs {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 5px;
			img:not(.delete-img-btn) {
				border-radius: 8px;
			}
		}

		.note-title {
			font-size: 20px;
		}

		.note-content {
			padding: 10px 15px;
			&[placeholder]:empty::before {
				content: attr(placeholder);
				color: $clr3;
			}
		}

		.actions {
			justify-content: space-between;
			align-items: center;

			position: fixed;
			bottom: 0;
			width: 100%;
			padding: 10px 15px;

			@include from-mini-layout() {
				position: static;
			}

			.add-img {
				background-image: url('/src/assets/icon/image.svg');
			}

			.clr-btn {
				background-image: url('/src/assets/icon/color.svg');
				position: relative;
			}
		}
	}
}
