.note-details {
	border-radius: 8px;
	transition: 0.4s;
	padding: 1px;
	.content {
		border-radius: 8px;
		padding: 10px 15px;
	}

	.actions-container {
		justify-content: space-between;
		align-items: center;
		padding: 4px 10px;

		img {
			width: 15px;
			// filter: $svg-clr1;
			margin-right: 15px;

			&:hover {
				cursor: pointer;
			}
		}
	}

	.background-pallete {
		left: 55px;
		// top: 190px;
	}
}
