.note-details {
	border-radius: 8px;
	transition: 0.4s;
	padding: 1px;
	max-height: 80vh;
	// overflow: scroll;
	// overflow-x: hiddenq;

	width: 50%;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: white;
	border-radius: 8px;
	transition: 0.2s;

	.content {
		border-radius: 8px;
		padding: 10px 15px;

		.note-imgs {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 5px;
		}
	}

	.actions-container {
		justify-content: space-between;
		align-items: center;

		.actions {
			width: 50%;
		}

		.close-btn {
			padding: 5px 10px;
		}
	}

	.background-pallete {
		left: 55px;
	}
}
