.note-add {
	position: fixed;
	bottom: 0;
	background-color: $clr2;
	z-index: 100;
	width: 100%;
	box-shadow: 0 0 5px 0px rgb(0 0 0 / 37%);
	transition: 0.5s;

	&.full-page {
		height: 100%;
	}

	//
	.add-container {
		justify-content: space-between;
		align-items: center;
		padding: 15px;

		.type-btn {
			margin-left: 10px;
		}

		img {
			filter: $svg-clr1;
			height: 20px;

			&:hover {
				cursor: pointer;
				filter: $svg-clr4;
			}
		}
	}

	//
	.actions-mobile {
		justify-content: flex-end;
		.back-btn {
			display: block;
			padding: 10px 15px;
			@include from-mini-layout() {
				display: none;
			}
		}
	}

	.add-note-input {
		width: 100%;
		.content-input {
			flex-direction: column;
			justify-content: center;
		}

		.note-imgs {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 5px;
			img:not(.delete-img-btn) {
				border-radius: 8px;
			}
		}

		.note-title {
			font-size: 20px;
		}

		.note-content {
			padding: 10px 15px;
			&[placeholder]:empty::before {
				content: attr(placeholder);
				color: $clr3;
			}
		}

		.actions {
			justify-content: space-between;
			align-items: center;

			position: fixed;
			bottom: 0;
			width: 100%;

			img {
				filter: $svg-clr1;
				height: 20px;
				margin-right: 10px;

				&:hover {
					cursor: pointer;
					filter: $svg-clr4;
				}
			}
		}
	}

	@include from-mini-layout() {
		position: relative;
		width: 70%;
		margin: 0 auto 16px auto;
		border-radius: 8px;

		.background-pallete {
			right: -60px;
			top: 107px;
		}

		.add-note-input {
			.note-title {
				font-size: 14px;
			}

			.actions {
				position: relative;
			}
		}
	}

	@include from-mobile-layout() {
		width: 50%;
	}

	//

	// .background-pallete {
	// 	right: 28px;
	// 	top: 107px;
	// }
}

// @media (min-width: 600px) {
// 	.background-pallete {
// 		right: -4px;
// 	}
// }

// @media (min-width: 670px) {
// 	.background-pallete {
// 		right: 28px;
// 	}
// }

// @media (min-width: 990px) {
// 	.background-pallete {
// 		right: 150px;
// 	}
// }
