//COLORS
$clr1: rgba(27, 35, 48, 1);
$clr2: #181f2b;
$clr3: hsl(216, 53%, 9%);
$clr4: hsl(219, 30%, 18%);
$clr5: hsl(176, 68%, 64%);
$clr6: hsl(198, 60%, 50%);
$clr7: hsl(0, 0%, 100%);

// - Dark Blue (intro and email sign up background): h
// - Dark Blue (main background):
// - Dark Blue (footer background):
// - Dark Blue (testimonials background):

//LAYOUT
$mini-breakpoint: 520px;
$mobile-breakpoint: 760px;
$narrow-breakpoint: 1100px;
$normal-breakpoint: 1250px;
$wide-breakpoint: 1460px;

// - Mobile: 375px
// - Desktop: 1440px
