//COLORS
$clr1: black;
$clr2: white;
$clr3: #757575;
$clr4: rgb(241 243 244);

$svg-clr1: invert(44%) sepia(36%) saturate(9%) hue-rotate(317deg) brightness(95%)
	contrast(86%);

$radius: 8px;

// - Dark Blue (intro and email sign up background): h
// - Dark Blue (main background):
// - Dark Blue (footer background):
// - Dark Blue (testimonials background):

//LAYOUT
$mini-breakpoint: 520px;
$mobile-breakpoint: 760px;
$narrow-breakpoint: 1100px;
$normal-breakpoint: 1250px;
$wide-breakpoint: 1460px;

// - Mobile: 375px
// - Desktop: 1440px
