.grow-in-enter-active,
.grow-in-leave-active {
	transition: 0.2s ease-out;
}

.grow-in-enter-from,
.grow-in-leave-to {
	opacity: 0;
	transform: scale(0.3);
}

.msg-enter-from {
	opacity: 0;
	transform: translateY(30px);
}

.msg-enter-active {
	transition: all 0.3s ease;
}

.msg-leave-to {
	opacity: 0;
	transform: translateY(30px);
}

.msg-leave-active {
	transition: all 0.3s ease;
}
