// SETUP
@import 'setup/typography';
@import 'setup/variables';
@import 'setup/mixins';
@import 'setup/functions';

// BASICS
@import 'basics/helpers';
@import 'basics/base';
@import 'basics/layout';

// COMPONENTS
@import './cmps/app-header';
@import './cmps/list-header';
@import './cmps/note-list';
@import './cmps/note-preview';
@import './cmps/background-pallete';
@import './cmps/note-filter';
@import './cmps/side-nav';

// VIEWS
@import './views/note-add';
@import './views/note-details';
@import './views/note-app';
@import './views/home-page';
@import './views/login-signup';

//SCROLLER
::-webkit-scrollbar-thumb {
	background-color: rgb(0 0 0 / 20%);
	background-clip: padding-box;
	border: solid rgb(0 0 0 / 0%);
	border-width: 1px 6px 1px 1px;
	min-height: 28px;
	padding: 100px 0 0;
	-webkit-box-shadow: inset 1px 1px 0 rgb(0 0 0 / 10%),
		inset 0 -1px 0 rgb(0 0 0 / 7%);
	box-shadow: inset 1px 1px 0 rgb(0 0 0 / 10%), inset 0 -1px 0 rgb(0 0 0 / 7%);
}

::-webkit-scrollbar-track {
	background-clip: padding-box;
	border: solid rgb(0 0 0 / 0%);
	border-width: 0 4px 0 0;
}
